 /* Page CSS */

 .cadastro--text{
    font-weight: 400;
    font-size: 16px;
    margin: 10px 2px;   
    color: white;
    text-align: left;
}

.cadastro--input{
    width: 350px;
    border: 2px solid #E9E9E9;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    outline: none;
    height: 40px;

    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    padding-left: 10px;
}

.cadastro--text-link{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.cadastro--button{
    width: 370px;
    height: 40px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;

    color: #222222;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
}

.cadastro--text-register{
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
}

.cadastro--modal-container{
    display: flex;
    flex-direction: column;
    color: #222222;
}

.cadastro--modal-button{
    width: 11.228vw;
    height: 2.994vw;
    border: none;
    border-radius: 0.374vw;
    outline: none;
    color: white;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.048vw;
    cursor: pointer;
}


.cadastro-modal-info-error{
    width: 14.970vw;
    font-weight: 600;
    font-size: 1.198vw;
    margin: 0 0 0.749vw 0;
    text-align: center;
    align-self: center;
 }

@media(max-width:600px){
    .cadastro-modal-info-error{
        width: 50vw;
        font-size: 3.5vw;
        margin-bottom: 2vw;
    }
    .cadastro--modal-button{
        width: 20vw;
        font-size: 3vw;
        height: 6vw;
        margin-top: 2vw;
    }
}