 /* Page CSS */

.login--text{
    font-weight: 400;
    font-size: 16px;
    margin: 10px 2px;   
    color: white;
    text-align: left;
}

.login--input{
    width: 350px;
    border: 2px solid #E9E9E9;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    outline: none;
    height: 40px;

    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    padding-left: 10px;
}

.login--text-reset{
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    text-align: left;
}

.login--text-link{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.login--button{
    width: 370px;
    height: 40px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;

    color: #222222;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
}

.login--text-register{
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
}


 /* Modal CSS */
 .login--modal-container{
    display: flex;
    flex-direction: column;
    color: #222222;
}

 .login-modal-info{
    width: 580px;
    font-weight: 600;
    font-size: 16px;
    margin: 0px;
    text-align: center;
    align-self: center;
 }
 
 .login--modal-text{
    font-weight: 400;
    font-size: 16px;
    margin: 10px 2px;
    text-align: left;
}

.login--modal-input{
    width: 580px;
    border: 2px solid #E9E9E9;
    border-radius: 5px;
    outline: none;
    height: 30px;

    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    padding-left: 10px;
}

.login--modal-button-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.login--modal-button{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    outline: none;
    color: white;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}